__pycache__
.git
.vite
.vs
dist
game_source
map/public/assets/*
!map/public/assets/icons
!map/public/assets/img
!map/public/assets/*.pmtiles
!map/public/assets/*.json
node_modules
local.properties
android/.gradle
android/build
android/app/build
android/capacitor-cordova-android-plugins
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
